body {
    font-family: "Montserrat", "Roboto", sans-serif;
    color: #333;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}

header,
.rodape {
    text-transform: uppercase;
}

.topo {
    margin: 25px;
    padding-top: 5px;
}

.container {
    text-align: center;
}

.container>h1 {
    position: absolute;
    left: 50%;
    font-size: 25px;
}

.container h2 {
    position: absolute;
    left: 20%;
}

.sacola {
    font-weight: bolder;
    position: absolute;
    left: 80%;
}

ul>li {
    display: inline-block;
    vertical-align: baseline;
    padding: 20px;
}

.menu-home {
    margin: 50px;
    padding: 40px;
}

a:link {
    text-decoration: none;
    color: #333;
}

#outlet { 
    color: #F90000;
}

#home {
    font-weight: bolder;
}

.botao {
    background-color: #333;
    background-position: 0;
    border: 0.5px solid #FFF;
    color: #FFF;
    font-size: 0.7rem;
    /* width: auto;
    height: auto;
    margin: 0;
    padding: 0; */
}

.detalhe-botao{
    width: 8ch;
    /* height: 1.6ch; */
    border: 3px solid #333;
    /* padding: 0; */
}

.contato li {
    display: flex;
    flex-wrap: wrap;
}

.rodape {
    background-color: #FAFAFA;
    /* position: absolute; */
	bottom: 0;
	width: 100%;
}

@media (max-width: 1279px) {


}

@media(max-width: 640px) {


}
