body {
    font-family: "Montserrat", "Roboto", sans-serif;
    color: #333;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.container {
    text-align: center;
}
ul li {
    
    display: inline-block;
    vertical-align: baseline;
    padding: 20px;
}

a:link {
    text-decoration: none;
}

.botao {
    background-color: #515151;
    background-position: 0;
    border: 0.5px solid #FAFAFA;
    color: #FAFAFA;
    font-size: 0.7rem;
    /* width: auto;
    height: auto;
    margin: 0;
    padding: 0; */
}

.detalhe-botao{
    width: 6ch;
    /* height: 1.6ch; */
    border: 3px solid #515151;
    /* padding: 0; */
}


@media (max-width: 1279px) {


}

@media(max-width: 640px) {


}
